*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.image-with-search {
    position: relative;
    display: inline-block;
}

.search-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-container button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.search-container button:hover {
    background-color: #e0e0e0;
    color: #312c2c;
}

.container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
    color: #312c2c;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    color: black;
  }
  
.navbar a{
    float: left;
    padding-left: 60px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
    .nav i {
       text-align: center;
       color: #f2f2f2;
      }
      .nav p {
        color: #f2f2f2;
}
.navbar a:hover {
  background-color: rgb(233, 228, 228);
          color: rgb(5, 5, 5);
        }
.col-6{
            display: flex;
            background-color: #f2f2f2;
              text-align: center;
              align-items: center;
              justify-content: space-between;
             object-fit: cover;
             flex-direction: column;
        }
        .T2{
          padding: 30px;
          align-items: center;
      }
.T2{
          color: black;
      }
table, th, td {
          border: 2px solid black;
          padding-left: 100px;
          padding-right: 100px;
          padding-top: 10px;
          height: 50px;
          box-align: center;
      
        }
        .footer {
          flex: 1;
          margin: 10px;
          color: #f2f2f2;
          text-align: left;
        }
.footer a {
          display: block;
          color: #f2f2f2;
          
        }
.log{
          overflow: hidden;
          background-color: #333;
          padding-top: 20px;
          width: 1090px;
          display: flex;
          
        }
.container-footer {
          overflow: hidden;
          background-color: #333;
          padding-top: 20px;
          width: 1090px;
          display: flex;}
.card{
  width: 15rem;
}
